addict
diffusers
gradio
huggingface_hub
matplotlib
numpy
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
torch
torchvision
transformers
yapf
nltk
fairscale
litellm
torchaudio
torchmetrics
matplotlib
cv2
timm
git+https://github.com/facebookresearch/sam2.git
git+https://github.com/yformer/EfficientSAM.git
git+https://github.com/ChaoningZhang/MobileSAM.git